<div class="container">
  <div class="formControl">
    <h2>TODO LIST</h2>
    <label for="task">Task:</label>
    <input type="text" id="task" placeholder="Enter your task" #task />
    <label for="startDate">Date:</label>
    <input type="date" id="startDate" #date />
    <button (click)="addTask(task.value, date.value)">Add Task</button>
  </div>

  <div class="listTask">
    <h3>List Task</h3>
    <ul *ngFor="let item of list">
      <li><span>{{item.name}}, {{item.date}}</span><button (click)="removeTask(item.id)">Delete</button></li>
    </ul>
  </div>
</div>